body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: grey;
}

button {
  /* purple ish bg color */
  background-color: #8a2be2;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}